* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

:root {
    --bc-backg:#ffffff;
    --bc-header: #ff6900;
    --bc-footer: #1a1a1a;
}


.he_left {
    display: flex;
    justify-content: flex-start;
    width: 40%;
   
}

.he_right {
    display: flex;
    justify-content: flex-end;
    width: 40%; 
    padding-bottom: 0; 
    gap: 20px;
}

a {
    text-decoration: none;
    padding: 0.5rem;
    color: white;
}

.boolean_l {
    text-align: center;
    size: 20%;
}

header a {
    color: var(--bc-backg);
}

/*Utilitis*/
header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 80px;
    background-color: var(--bc-header);
    padding: 0 10%;
    z-index: 100;
}

h4 {
    color: red;
}

.line_trh{
    color: black;
    text-decoration:line-through;
}

.span_red {
    position: absolute;
    top: 500px;
    background-color: red;
    color: white;
    padding: 0.2rem 0.2rem;
     
}

.span_green {
    position: absolute;
    top: 500px;
    left:45px;
    background-color:green;
    color: white;
    padding: 0.2rem 0.2rem;
}

.cf .span_green {
    left:0px;  
}

.heart {
    position: absolute;
    background-color: white;
    color: black;
    font-size: 50px;
    right: 0;
    margin-top: 10px;
    padding: 0px 15px;
    
}
/*Header*/

main {
    position: absolute;
    top: 130px;
    left: 10%;
    width: 80%;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    float: left;
    height: 600px;
    width: calc((100% - 60px) /12 *4);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.container_bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    height: 50px;
    padding-top: 10px;
}
/*Region main*/
.ca {
    background-image: url(../img/1.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 0;
}

.ca:hover {
    background-image: url(../img/1b.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 10; 
}

.cb {
    background-image: url(../img/2.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 0;
}

.cb:hover {
    background-image: url(../img/2b.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 10;
}
.cc {
    background-image: url(../img/3.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 0;
}

.cc:hover {
    background-image: url(../img/3b.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 10;
}
.cd {
    background-image: url(../img/4.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 0;
}

.cd:hover {
    background-image: url(../img/4b.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 10;
}

.ce {
    background-image: url(../img/5.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 0;
}

.ce:hover {
    background-image: url(../img/5b.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 10;
}
.cf{
    background-image: url(../img/6.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 0;
}

.cf:hover{
    background-image: url(../img/6b.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 10;
}
/*Region photos*/

footer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 1450px;
    right: 0;
    background-color: var(--bc-footer);
    height: 100px;
    width: 100%;
    padding: 0 10%;
}

.foot_left> a  {
    padding-top: 3rem;
    padding-left: 0;
    
}

.foot_left>h3 {
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
   
}

.foot_right, i { 
    padding-top: 1rem;
    padding-left: 0;
    display: block;
    color: white;
} 

